/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
@import 'choices.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '/node_modules/tom-select/dist/css/tom-select.default.css'; */

html, body {
    overflow-x: hidden!important;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
@layer base{
    [type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],
    [type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
        @apply w-full rounded-lg  shadow-sm  focus:ring-indigo-500 caret-indigo-500
        block
        px-3
        py-1
        text-base
        font-semibold
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        transition
        ease-in-out
        m-0
        focus:text-gray-900 focus:bg-slate-100 focus:border-blue-600 focus:outline-none

    }
}
.table { @apply bg-white text-gray-900 border-separate w-full shadow-md }
.table  th { @apply bg-slate-800 text-blue-100;  padding: 2px; border-bottom: 2px solid #d8d8d8 ; }
.table th:nth-child(1) { @apply w-auto }
.table th:last-child { width: 15%; }
.table tr:nth-child(odd) { @apply bg-white text-blue-900 }
.table tr:nth-child(even) { @apply bg-blue-50 text-blue-900;}
.table td { @apply p-0 }
/* .table th { @apply bg-gray-700 text-white p-2 } */
/* .table tr:nth-child(even) { @apply bg-blue-50 text-blue-900 } */
    /* background-color:#f6f6f6 !important } */
.hold {@apply capitalize bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs } ;
.dispatched {@apply capitalize bg-sky-200 text-sky-600 py-1 px-3 rounded-full text-xs } ;
.rejected {@apply capitalize bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs } ;
.accepted {@apply capitalize bg-blue-200 text-blue-600 py-1 px-3 rounded-full text-xs} ;
.updated {@apply capitalize bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs } ;
.completed {@apply capitalize bg-lime-200 text-lime-600 py-1 px-3 rounded-full text-xs } ;
.closed {@apply capitalize bg-green-600 text-white py-1 px-3 rounded-full text-xs } ;
.confirmed {@apply capitalize bg-emerald-800 text-emerald-600 py-1 px-3 rounded-full text-xs } ;
.btn {
    @apply font-bold py-1 px-4 rounded  mr-1;
  }
  .btn-primary {
    @apply bg-blue-700 text-white;
  }
  .btn-primary:hover {
    @apply bg-blue-500;
  }
  .btn.btn-danger.btn-text,.btn.btn-danger.btn-xs {
    @apply  text-orange-800;
  }
  .btn.btn-danger.btn-text:hover ,.btn.btn-danger.btn-xs:hover  {
    @apply text-orange-600;
  }
  .btn.btn-success.btn-xs {
    @apply  text-green-800 ;
  }
  .btn.btn-success.btn-xs:hover  {
    @apply text-green-600 bg-transparent;
  }
  .btn-success {
    @apply bg-lime-700 text-white;
  }
  .btn-success:hover {
    @apply bg-lime-500;
  }
  .btn-default {
    @apply bg-gray-200 text-slate-800;
  }
  .btn-default:hover {
    @apply bg-gray-50 text-orange-800;
  }
  .card{
      @apply bg-white shadow-md rounded-md flex-col max-w-full
  }
  .card .card-header{
      @apply bg-orange-700 text-orange-50 rounded-t-md flex shadow-lg px-2 mb-2 py-2
  }
  .card .card-body,.card-body{
      @apply p-2 flex w-full max-w-full flex-col overflow-x-auto
  }
  .card .card-footer{
      @apply border-t-2 border-slate-50 flex justify-end p-2
  }
  .row{
      @apply flex flex-wrap
  }
  .form-group {
    @apply w-full md:w-1/2 px-2 py-1
  }
  .content{
      @apply w-full
  }
  .main{
    width: 40%;
  }
  .actions-header{
      width: 20%;
  }
  .actions{
      @apply flex justify-center;
  }
  td .btn{
      @apply bg-transparent p-1 text-slate-800
  }
  tr{
      width: 100%;
  }
  h1,h2,h3{
    @apply text-lg font-bold
  }
  .content-header{
      @apply bg-slate-800 text-white rounded shadow-md p-2 mb-6 flex
  }
  .has-tooltip{
      @apply relative
  }
  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50 rounded shadow-md p-1 text-xs bg-gray-100 text-slate-500 bottom-0;
  }
  .battery_deploy{
    @apply pt-2;
  }
.is-invalid{
    @apply border-red-300
}
.is-valid{
    @apply border-green-400
}
/* <!-- Font Awesome --> */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"); */

/* @import url("https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"); */

/* <!-- AdminLTE --> */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/css/adminlte.min.css") ; */

/* <!-- iCheck --> */

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css"); */
/* <!-- select2 --> */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"); */
/* <!-- flag-icon-css --> */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"); */
/* <!-- tempusdominus-bootstrap-4 --> */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css"); */

/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap'); */

/* @import './extra.scss'; */
.form-switch .form-check-input:checked {
    background-position: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
}
.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-switch .form-check-input {
    margin-top: 0.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
    background-position: 0;
    transition: background-position .15s ease-in-out;
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.swal-overlay {
    background-color: rgba(21, 32, 94, 0.45);
  }
.swal-modal {
    /* width: 25%; */
    font-size: 14px;
    @apply  w-3/4 md:w-6/12;
    /* background-color: rgba(63,255,106,0.69); */
    /* border: 3px solid white; */

}
.swal-icon:first-child {
    margin-top: 14px;
}
.swal-footer{
    background-color: rgb(245, 248, 250);
    border-top: 1px solid #E9EEF1;
    padding: 3px 9px;

}

.swal-icon{
    margin: 14px auto;
}
.swal-title{
    font-weight: 400;
    font-size: 16px;
    color: rgb(7, 12, 47);

}
.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
.swal-button--confirm{

}
h3{
    @apply text-base;
}
